nav{
    background-color: #1565c0;
    margin-bottom: 20px;\
}

.brand-logo{
    margin-left: 45px;
}

.material-icons{
    vertical-align: middle;
    margin-right: 7px;
}

label{
    font-size: 1rem;
}

select{
    display: inline;
    width: initial;
}

.reslink{
    margin-left: 20px;
    color: rgba(0,0,0,0.5);
}

.fa{
    vertical-align: middle;
    margin-left:  7px;
}

.subheader{
    color: rgb(2, 128, 189);
    font-size: 2.5em;
    font-weight: bolder;
}

i.prefix {
        color: rgba(21, 101, 192, 0.8);
}

.input-field .prefix.active{
    color: #039be5;
}

.entry{
    font-size: 1.2em;
    font-weight: bold;
    color: #7D7D7D;
}
